.page {
    width: 100%;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    font-family: "Oxygen", Arial, sans-serif;
    background: linear-gradient(180deg, #F6FAFD 35%, #FFFFFF 55%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4B5D68;
    position: relative;
  }
